<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>A-RIMS Africa Rapid Indicator Mapping System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    
   
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
   
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.ie.css" /><![endif]-->
    
    
    <link href="css/map.css" rel="stylesheet" type="text/css" />
    
   


</head>
<body>
    
    <div id="navbar" class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
        <!--
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a class="aboutOpener" href="#aboutTab">About</a></li>
              <li><a class="aboutOpener" href="#contactTab">Contact</a></li>
            </ul>
          </div> -->
         <ul class="nav">
              <li><a class="aboutOpener" href="#aboutTab">About</a></li>
              <li><a class="aboutOpener" href="#contactTab">Contact</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="titlebar">
        <!--<span style="font-size:2.5em;font-weight:bold;line-height:1em;">A-RIMS</span>-->
        <span class="title">A-RIMS</span>
        <span class="subtitle">Africa Rapid Indicator Mapping System</span>
    </div>
    
    
    <div id="mapContainer">
        <div id="map">
            <div id="histogramLegend" style="z-index:99;position:absolute;top:5px;right:5px;background:#FFFFFF;display:none;">
                <img src="img/Leg_Niger_Runoff_2000_6min.jpg" />
            </div>
        </div>
        <div id="infoPanel">
            <a class="leftHandle toggleRight" rel="tooltip" title="Show/Hide panel" data-placement="left" ></a>
            <div class="content">
                <ul class="nav nav-tabs" id="infoPanelTabs">
                    <li class="active"><a data-toggle="tab" href="#tabLocation">Mapped Indicators</a></li>
                    <li class=""><a data-toggle="tab" href="#tabLegend">Legend</a></li>
                </ul>
                <div class="tab-content" id="myTabContent" style="height:75%;">
                    <div id="tabLocation" class="tab-pane fade active in"> <!--style="height:100%;"-->
                        <div id="locationReport">
                            <p class="infoPrompt" style="font-size:1.2em;color:#AAAAAA;padding-left:10px;"> 
                              Hover over the river for Lat/Lon coordinates of cell.
                            </p>    
                            <p style="padding-left:10px;">
                            
                            
<!--                                <label for="selAnalysisType">Select Analysis Type:</label>
                                <select id="selAnalysisType">
                                    <option value="Discharge">Discharge</option>
                                    <option value="Discharge25">Discharge 25%</option>
                                    <option value="Discharge50">Discharge 50%</option>
                                    <option selected="true" value="Runoff">Runoff</option>
                                    <option value="Runoff25">Runoff 25%</option>
                                    <option value="Runoff50">Runoff 50%</option>
                                    <option value="AirTemperature">Air Temperature</option>
                                    <option value="Precipitation">Precipitation</option>
                                    <option value="Population">Population</option>
                                    <option value="DischargeByPopulation">Discharge by Population</option>
                                    <option value="DischargeByPopulation25">Discharge by Population 25%</option>
                                    <option value="DischargeByPopulation50">Discharge by Population 50%</option>
                                    <option value="RunoffByPopulation">Runoff by Population</option>
                                    <option value="RunoffByPopulation25">Runoff by Population 25%</option>
                                    <option value="RunoffByPopulation50">Runoff by Population 50%</option>
                                </select>
                                <br />-->
                                

                                <label for="selIndicator">Select Indicator:</label>
                                <select id="selIndicator" class="input-xlarge">
                                    <option value="" class="muted" selected="true" >select indicator...</option>
                                    <optgroup label="GEOPHYSICAL INDICATORS">
                                        <option value="Runoff">Runoff</option>
                                        <option value="Discharge">Discharge</option>
                                        <option value="AirTemperature">Air Temperature</option>
                                        <option value="Precipitation">Precipitation</option>
                                    </optgroup>
                                    <optgroup label="SOCIOLOGICAL INDICATORS"><
                                        <option value="Population">Population</option>
                                    </optgroup>
                                    <optgroup label="ECOSYSTEM SERVICE INDICATORS">
                                        <option value="RunoffByPopulation">Runoff By Population</option>
                                        <option value="DischargeByPopulation">Discharge By Population</option>
                                    </optgroup>
                                </select>
                                
                                <span id="divIrrigationLevel" class="optionalSelector">
                                    <label for="selIrrigationLevel">Select Irrigation Level:</label>
                                    <select id="selIrrigationLevel" class="input-xlarge">
                                        <option value="baseline">2000 Irrigation Levels</option>
                                        <option value="25">25% Over 2000 Irrigation Levels</option>
                                        <option value="50">50% Over 2000 Irrigation Levels</option>
                                        <option value="75">75% Over 2000 Irrigation Levels</option>
                                    </select>
                                </span>
                                <span id="divTimePeriod" class="optionalSelector">
                                    <label for="selTimePeriod">Select Time Period:</label>
                                    <select id="selTimePeriod" class="input-xlarge">
                                        <option value="annual">Annual</option>
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </span>

                                
                                <!--
                                    <ul class="nav nav-pills" style="width:230px;">
                                    <li class="active" style="width:100%;">
                                        <a href="#">Annual</a>
                                    </li>
                                    <br />
                                    <li class="active">
                                        <a href="#">Jan</a>
                                    </li>
                                    <li><a href="#">Feb</a></li>
                                    <li><a href="#">Mar</a></li>
                                    <li><a href="#">Apr</a></li>
                                    <li><a href="#">May</a></li>
                                    <li><a href="#">June</a></li>
                                    <li><a href="#">July</a></li>
                                    <li><a href="#">Aug</a></li>
                                    <li><a href="#">Sept</a></li>
                                    <li><a href="#">Oct</a></li>
                                    <li><a href="#">Nov</a></li>
                                    <li><a href="#">Dec</a></li>
                                    </ul>
                                -->
                            </p>
                                <div id="histogram1" class="histogram">
                                  <div class="title"></div>
                                  <div class="chart"></div>
                                  <div class="subtitle"></div>
                                  <img class="legend" />
                                </div> 
                                <!--
                                <div id="histogram2" class="histogram">
                                  <div class="title"></div>
                                  <div class="chart"></div>
                                </div> 
                                <div id="histogram3" class="histogram">
                                  <div class="title"></div>
                                  <div class="chart"></div>
                                </div> 
                                <div id="histogram4" class="histogram">
                                  <div class="title"></div>
                                  <div class="chart"></div>
                                </div> 
                                -->
                                <br />
                        </div>
                        <div id="logoPanel">
                            <a href="http://asrc.cuny.edu/" target="_blank" ><img src="img/ASRC2.jpg" alt="CUNY Advanced Science Research Center" title="CUNY Advanced Science Research Center" /></a>
                            <a href="http://www.cuny.edu" target="_blank" ><img src="img/cuny_square_RGB_blue.png" alt="CUNY - City University of New York" title="CUNY City University of New York" /></a>
                            <a href="http://www.gc.cuny.edu " target="_blank" ><img src="img/CUNY-GC-logo_bluetextwhiteback.png" alt="The CUNY Graduate Center " title="The CUNY Graduate Center" /></a>
                        </div>
                    </div>
                    <div id="tabLegend" class="tab-pane fade">
                        <div id="legend">
                          <div id="layerList" class="accordion">
                            
                          </div>     
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    


   
    
    
    <div class="modal hide fade" id="aboutModal" tabindex="-1" role="dialog" data-backdrop="true" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>A-RIMS</h3>
            Africa Rapid Indicator Mapping System
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs" id="aboutTabs">
                <li><a id="aboutTab" data-toggle="tab" href="#aboutTabContent">About</a></li>
                <li><a id="contactTab" data-toggle="tab" href="#contactTabContent">Contact</a></li>
            </ul>
            <div class="tab-content" id="aboutTabsContent" style="height:100%;">
                <div id="aboutTabContent" class="tab-pane fade" data-html="about.html">
                </div>
                <div id="contactTabContent" class="tab-pane fade" data-html="contact.html">
                </div>
            </div> 
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
    
    
    <!-- Templates -->
    <script type="text/template" id="legenditem-template">
        <div class="accordion-heading">
            <label class="checkbox" style="float:left;margin:8px 60px 8px 15px;color:#DA8833;"><input class="toggle" type="checkbox" <%= visible ? 'checked="checked"' : '' %> /><%- label %></label>
            <div style="float:right;margin-left:-60px;">
                <a href="#collapseLayer<%- order %>" data-parent="#layerList" data-toggle="collapse" class="accordion-toggle collapsed" rel="tooltip" title="<div style=\'line-height:14px;\'>Show/Hide<br/>Legend</div>" data-placement="top" style="float:right;padding:8px 10px;">
                    <i class="icon-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="accordion-body collapse" id="collapseLayer<%- order %>" style="height: 0px;clear:both;"> 
            <div class="accordion-inner"> 
                <img src="<%- legendImage %>" /> 
                <dl class="metadata">
                    <dt class="muted">Metadata</dt>
                    <dd><a href="<%- metadataUrl %>" target="_blank"><%- metadataUrl %></a></dd/>
                </dl>
            </div>
        </div>
    </script>
    <script type="text/template" id="maptooltip-template">
        <span class="hover-label">Latitude</span><span class="hover-label">Longitude</span>
        <br/><span class="hover-data"><%- lat %></span><span class="hover-data"><%- lng %></span>
        <br/><span class="hover-instructions" style="">Click map for more...</span>
    </script>
    <script type="text/template" id="infoprompt-template">
        Click on river cell <%- id %> for frequency histograms.
    </script>
    <script type="text/template" id="infopromptnull-template">
        Hover over the river for Lat/Lon coordinates of cell.
    </script>
    <script type="text/template" id="histogramtitle-template">
        <span style="text-transform:capitalize;">Frequency histogram of <%- timePeriod %> <%- label %> upstream of cell <%- id %> (1min resolution).</span>
    </script>
    <script type="text/template" id="histogramsubtitle-template">
            <dl class="dl-horizontal">
            <dt>AVERAGE:</dt>
            <dd><%- avg %></dd>
            <dt>MIN:</dt>
            <dd><%- min %></dd>
            <dt>MAX:</dt>
            <dd><%- max %></dd>
            </dl>
    </script>
    <script type="text/template" id="histogram1title-template">
        Frequency histogram of annual runoff [mm/year] at year 2000 irrigation levels
        upstream of cell <%- id %> (1min resolution).
    </script>
    <script type="text/template" id="histogram2title-template">
        Frequency histogram of annual runoff [mm/year] at 25% over year 2000 irrigation levels
        upstream of cell <%- id %> (1min resolution).
    </script>
    <script type="text/template" id="histogram3title-template">
        Frequency histogram of annual runoff [mm/year] at 50% over year 2000 irrigation levels
        upstream of cell <%- id %> (1min resolution).
    </script>
    <script type="text/template" id="histogram4title-template">
        Frequency histogram of July runoff [mm/month] at year 2000 irrigation levels
        upstream of cell <%- id %> (1min resolution).
    </script>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/libs/json2.js" type="text/javascript"></script>
    
    <script src="js/libs/jquery.js"></script>

    <script src="js/libs/underscore.js" type="text/javascript"></script>
    <script src="js/libs/backbone.js" type="text/javascript"></script>
    <!--
    <script src="js/libs/backbone.localStorage.js" type="text/javascript"></script>
    -->
    <script src="js/libs/bootstrap.js"></script>


    <script src="js/libs/jquery.loadmask.js" type="text/javascript"></script>
<!--
    <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js" type="text/javascript" ></script>
-->
    <script src="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js" type="text/javascript" ></script>
    <script src="js/libs/wax.leaf.js" type="text/javascript"></script>
    <script src="js/libs/cartodb-leaflet.js" type="text/javascript"></script>
    <script src="js/libs/cartodb-leaflet-withzindex.js" type="text/javascript"></script>
    
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/libs/excanvas.min.js"></script><![endif]-->
    <script src="js/libs/jquery.flot.js" language="javascript" type="text/javascript" ></script>
    

    <!--MODELS-->
    <script src="js/model/Layer.js" type="text/javascript"></script>
    <script src="js/model/LayerList.js" type="text/javascript"></script>
    <script src="js/model/MapLayer.js" type="text/javascript"></script>
    <script src="js/model/MapLayerHover.js" type="text/javascript"></script>
    <script src="js/model/RiverSegment.js" type="text/javascript"></script>
    <script src="js/model/RiverSegmentList.js" type="text/javascript"></script>
    <script src="js/model/Dataset.js" type="text/javascript"></script>
    <script src="js/model/DatasetList.js" type="text/javascript"></script>
    
    <!--SERVICE-->
    <script src="js/model/EcriService.js" type="text/javascript"></script>
    
    <!--VIEW-->
    <script src="js/view/AboutWindowView.js" type="text/javascript"></script>
    <script src="js/view/NavBarView.js" type="text/javascript"></script>
    
    <script src="js/view/InfoPanelView.js" type="text/javascript"></script>
    <script src="js/view/LegendItemView.js" type="text/javascript"></script>
    <script src="js/view/LegendView.js" type="text/javascript"></script>
    <script src="js/view/LocationReportView.js" type="text/javascript"></script>
    <script src="js/view/HistogramView.js" type="text/javascript"></script>
    <script src="js/view/MapLayerUpstreamSegmentsView.js" type="text/javascript"></script>
    <script src="js/view/MapLayerSubBasinPolyView.js" type="text/javascript"></script>
    <script src="js/view/MapLayerHoverView.js" type="text/javascript"></script>
    <script src="js/view/MapLayerView.js" type="text/javascript"></script>
    <script src="js/view/MapTooltipView.js" type="text/javascript"></script>
    <script src="js/view/MapStatusControl.js" type="text/javascript"></script>
    <script src="js/view/MapView.js" type="text/javascript"></script>
    
    
    <script src="js/MapPage.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            CUR.MapPage.init(); 
        })
    </script>
    
    

  
  </body>
</html>
